In [1]:
import pandas as pd
import numpy as np
from collections import OrderedDict
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline 
from utils import Dataset

In [2]:
ds =  Dataset()
data = ds.get_data(['campaign','previous','poutcome', 'y'])

# Inserir coluna para totalizar os contatos realizados
tt_contacts = data.campaign+data['previous'] 
data.insert(loc=2, column='tt_contacts', value=tt_contacts)

In [3]:
data

       campaign  previous  tt_contacts poutcome    y
0             1         0            1  unknown   no
1             1         0            1  unknown   no
2             1         0            1  unknown   no
3             1         0            1  unknown   no
4             1         0            1  unknown   no
...         ...       ...          ...      ...  ...
45206         3         0            3  unknown  yes
45207         2         0            2  unknown  yes
45208         5         3            8  success  yes
45209         4         0            4  unknown   no
45210         2        11           13    other   no

[45211 rows x 5 columns]

In [4]:
freq_campaign = data.campaign.value_counts(sort=True)
freq_previous = data.previous.value_counts(sort=True)
freq_tt = data.tt_contacts.value_counts(sort=True)

freq_campaign_relative = data.campaign.value_counts(sort=True, normalize=True)
freq_previous_relative = data.previous.value_counts(sort=True, normalize=True)
freq_tt_relative = data.tt_contacts.value_counts(sort=True, normalize=True)

In [5]:
freq_tt_relative

1     0.299241
2     0.260114
3     0.142642
4     0.097742
5     0.055606
        ...
53    0.000022
40    0.000022
51    0.000022
42    0.000022
63    0.000022
Name: tt_contacts, Length: 54, dtype: float64

In [6]:
# Min and Max continuous variables:
min_contacts = data.tt_contacts.min()
max_contacts = data.tt_contacts.max()
media_aritimetica = (min_contacts+max_contacts)/2

# Criar var categorica a partir do total dos contatos
qs=[.2,.4,.6,.8,1]
labels=['1','2','3','4']
tt_contacts_categ = pd.qcut(data['tt_contacts'],qs,labels=labels)
data.insert(loc=3,column='tt_contacts_categ', value=tt_contacts_categ)

In [7]:
data

       campaign  previous  tt_contacts tt_contacts_categ poutcome    y
0             1         0            1                 1  unknown   no
1             1         0            1                 1  unknown   no
2             1         0            1                 1  unknown   no
3             1         0            1                 1  unknown   no
4             1         0            1                 1  unknown   no
...         ...       ...          ...               ...      ...  ...
45206         3         0            3                 2  unknown  yes
45207         2         0            2                 1  unknown  yes
45208         5         3            8                 4  success  yes
45209         4         0            4                 3  unknown   no
45210         2        11           13                 4    other   no

[45211 rows x 6 columns]